

.card {
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%; 
}

.card-img-top {
    height: 200px; 
    width: 100%;
    object-fit: contain;
}

.card-body {
    min-height: 150px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.card-title {
    text-align: center; 
    margin-bottom: 10px; 
}

.card-text {
    text-align: center; 
}

.card-text.price {
    text-align: center; 
}

@media (min-width: 768px) {
   
    .col-md-4 {
        flex: 0 0 33.333333%; 
        max-width: 33.333333%;
    }
}
.btn-primary {
  background-color: #6c63ff !important;
  color: white!important;
  padding: 10px 20px!important;
  border: none !important;
  border-radius: 4px!important;
  cursor: pointer!important;
  font-size: 16px!important;
  display: block!important;
  margin: 10px auto!important; 
  text-align: center!important; 
  width: 50%; 
}
.form-inline {
  display: flex;
  align-items: center;
  
}
.form-control {
  font-size: 18px!important; 
  padding: 8px!important; 
  width: 400px!important; 
  margin:5px;
}

.btn-buscar {
  font-size: 17px!important; 
  padding: 8px 16px!important; 
  width: 100px!important; 
}



